* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #FBFFDC;
}


.intro{
position: flex;
justify-content:  space-evenly;
margin-top: 50px;
}

.container-fluid2{
  display: flex;
  justify-content: center;
  top: 20px
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
